.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ubah warna event */
/* .rbc-event {
  background-color: white !important;
  color: black !important;
  border-radius: 0.5rem !important;
  border: none !important;
  font-size: 0.85rem;
  line-height: 1.3;
  white-space: normal !important;
} */
.rbc-event-content {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  /* margin-top: 10px !important; */
}
.rbc-event {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: stretch !important;

  width: 100% !important;
  height: auto !important;
  left: 0 !important;
  right: 0 !important;
}

/* ubah tampilan cell bulan */

/* .rbc-month-row {
  border: 1px solid #e0e0e0;
} */

/* ubah header hari */

.rbc-header {
  background: #f8f9fa !important;
  font-weight: bold !important;
  color: #333 !important;
}
.rbc-agenda-content {
  overflow: auto !important;
}

.rbc-agenda-event-cell {
  width: 100vw !important;
}

.rbc-allday-cell,
.rbc-row.rbc-allday-cell {
  display: none !important;
}
.rbc-allday-events {
  display: none !important;
}
